nav {
    color: white;
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    background-color: steelblue;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    background-color: white;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    width: auto;
    max-width: 800px;
}

p {
    padding: 0;
}

aside {
    width: 250px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    background-color: steelblue;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: dotted azure 3px;
    text-align: center;
}